<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<!-- App Components -->
<link rel="import" href="../../shared-styles.html">

<!--
`<Name>` is Description

@element Name
-->
<dom-module id="app-me-credits">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;
      }

      .plans>*{
        @apply --layout-horizontal;
        padding:16px;
        min-height: 40px;
      }

      header h1{
        margin: 0;
        font-size: 1.1rem;
        padding: 16px;
        font-weight: 500;
      }
      .card{
        padding: 1em 3em;
      }
      header{
        text-align: center;
        padding: 16px;
      }

      .actions{
        margin-top:16px;
        padding:16px;
      }
    </style>

  <section class="">
    <div class="card">
      <header>
        <h1>Sell as many design goods as you can</h1>
        <span>With our flexible top-up plan that works for you!</span>
      </header>

      <div class="layout vertical plans">
        <div class="flex">
          <paper-radio-button></paper-radio-button>
          <span>10 Credits</span>
          <span class="flex"></span>
          <span>USD $9.00</span>
        </div>
        <div class="flex">
          <paper-radio-button></paper-radio-button>
          <span>36 Credits</span>
          <span class="flex"></span>
          <span>USD $9.00</span>
        </div>
        <div class="flex">
          <paper-radio-button></paper-radio-button>
          <span>48 Credits</span>
          <span class="flex"></span>
          <span>USD $9.00</span>
        </div>
        <div class="flex">
          <paper-radio-button></paper-radio-button>
          <paper-input label="(10 Credits min)" type="number" value="10"></paper-input>
          <span class="flex"></span>
          <span>USD $</span>
        </div>
      </div>

      <div class="actions">
        <paper-button primary>Select</paper-button>
      </div>
    </div>
  </section>
  </template>

  <script>
    class AppMeCredits extends Polymer.Element {

      static get is() { return 'app-me-credits'; }

      static get properties() {return {
          
        }}

      constructor() {
        super();
      }

      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {
          
        });
      }

    }

    window.customElements.define(AppMeCredits.is, AppMeCredits);
  </script>
</dom-module>