
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="app-button">
  <template>
    <style>
      app-button{
    	position: relative;
		display: block;
		padding: 12px 15px;
		color: #fff;
		font-size:14px;
		font-weight: 500;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		overflow: hidden;
		letter-spacing: .08em;
		border-radius: 0;
	    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
        -moz-appearance: none;
	    -webkit-appearance: none;
        border-radius: 5px;
	    -ms-appearance: none;
	    appearance: none;
	    -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	    -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	    -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
		border:0;
      }
      app-button[shaded]{
      	background-color: var(--app-accent-color)
      }
      app-button[border]{
      	box-shadow: inset 0 0 0 2px var(--app-accent-color);
      }
      app-button[border]:hover{
  	    background: rgba(255, 255, 255, 0.1)
      }
    </style>
  </template>
</dom-module>
