<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<!--
`<product-media>` is Description

@element Name
-->
<dom-module id="product-media">
  <template>
    <style>
      :host {
        display: block
      }
    </style>

    <paper-carousel items="1" dotText="false">
      <img src="https://unsplash.it/800/500/?image=257" draggable="false"/>
      <img src="https://unsplash.it/800/500/?image=250" draggable="false"/>
      <img src="https://unsplash.it/800/500/?image=399" draggable="false"/>
      <img src="https://unsplash.it/800/500/?image=146" draggable="false"/>
      <img src="https://unsplash.it/800/500/?image=248" draggable="false"/>
    </paper-carousel>

  </template>

  <script>
    class ProductMedia extends Polymer.Element {

      static get is() { return 'product-media'; }

      static get properties() {return {
          
        }}

      constructor() {
        super();
        this.data = [
              {
                  "title": "demo title",
                  "text": "demo text, here for the sole purpose of giving a demo.",
                  "image": "https://assets.materialup.com/uploads/9815f8c9-6411-429e-93fd-eae06727cf11/preview.png",
                  "link": "//example.com"
              },
              {
                  "title": "another demo title",
                  "text": "more demo text, here for the sole purpose of giving a demo.",
                  "image": "https://assets.materialup.com/uploads/65deedaf-4d40-497d-9b67-e97519639934/preview.gif",
                  "link": "//example.org"
              }
          ]
      }

      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {
          
        });
      }

    }

    window.customElements.define(ProductMedia.is, ProductMedia);
  </script>
</dom-module>