<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../app-store.html">
<!-- App components -->

<dom-module id="app-product-item">
  <template>

    <style include="shared-styles iron-flex iron-flex-alignment">
      /* local styles go here */
      :host {
        position: relative;
        overflow: hidden;
      }
      .shot-card{
        background-color: #fff;
        height: 100%;
        color: rgba(33, 33, 33, 0.61);
      }
      .product-owner{
        font-weight: 500;
        font-size: 13px;
        padding: 0 0 8px;
        margin: 0;
      }
      .product-owner a{
        color: inherit;
      }
      .card{
        padding: 0 !important;
        
      }
      .shot{
        width: 100%;
      }
      .price{
        font-weight: 600;
        font-size: 18px;
        color: rgba(32, 32, 36, 0.82);
      }
      .shot-footer{
        font-size: 14px;
        padding: 8px;
      }
      .owner-info{
        position: absolute;
        top: -39px;
        padding: 0 16px;
        width: 100%;
      }
      .owners-name{
      }
      footer{
        position: relative;
        display: block;
      }
      .shot-buttons{
        padding-top: 8px;
        margin: 0px -16px;
      }
      .shot-buttons> paper-button{
        font-size: 12px;
        font-weight: 500;
      }
      .shot-buttons> paper-button iron-icon{
        --iron-icon-height: 20px;
        --iron-icon-width: 20px;
        margin-right: 5px;
      }
      .shot-image{
        height: 245px;
        width: 100%;
      }
      .price-tag{
        padding-top: 8px;
      }
      .product-title{
        margin: 0;
        font-size: 15px;
        margin-bottom: 8px;
        color: rgba(0, 0, 0, 0.81);
        font-weight: 600;
      }
      .product-category{
        margin: 0;
        padding-bottom: 8px;
      }
      .product-category a{
        color: #64b1d3;
        font-size: 12px;
        font-weight: 600;
      }
      @media (max-width: 800px){

      }
       @media (max-width: 479px) {
        .product-description{
          font-size: 14px;
        }
       }
       .mobile .shot-buttons paper-button span, .mobile .owner-info{
        display: none;
       }
       .mobile .shot-footer .shot-title{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
       }
       .liked{
             color: #00d7b3;
       }

    </style>

    <!-- local DOM goes here -->
    <article class="shot" id="shot">
      <div class="card shot-card">
        <a href$="/goodies/[[data.slug]]"><iron-image preload
                    class="shot-image"
                    style="background-color: #eee;"
                    fade
                    sizing="cover" src="{{_getMedia(data.media)}}">
            </iron-image></a>

        <footer>
          <div class="shot-footer">
              <a href$="/goodies/[[data.slug]]"><h1 class="product-title">[[data.title]]</h1></a>
              <p class="product-owner">
                  by <a href$="/user/[[data.owner.nickname]]">[[data.owner.nickname]]</a>
              </p>
              <div class="layout horizontal price-tag">
                <p class="product-category">
                  <a href$="/category/[[data.category]]">[[data.category]]</a>
                </p>
                <span class="flex"></span>
                <span class="price">[[data.price]]</span>
              </div>
              <div class="shot-buttons layout horizontal">
                <paper-button class="pink flex"><iron-icon icon="my-icons:eye"></iron-icon><span>[[data.views]]</span></paper-button>
                <paper-button
                        class="pink flex"
                        on-click="like" class$="[[_getLikedClass(data.likes.is_liked)]]"><iron-icon icon="my-icons:heart"></iron-icon><span>[[data.likes.count]]</span></paper-button>
                <paper-button
                        class="pink flex"><iron-icon icon="my-icons:share"></iron-icon><span>0</span></paper-button>
              </div>
          </div>
        </footer>
      </div>
    </article>
  </template>

  <script>
      class AppProductItem extends ReduxMixin(Polymer.Element) {

      static get is() { return 'app-product-item'; }

      static get properties() {
        return {
            data: Object,
            env: {
                type: Object,
                statePath: 'env'
            }
        }
      }

      constructor() {
        super();
      }
      
      _getMedia(media){
          if(media.length < 1) return;
          return media[0].src;
      }
      
      like(){
        fetch(`${this.env.app_domain}/api/favorites/${this.data.slug}`, {
          headers:{
            Authorization: `Bearer ${this.env.token}`,
            Accept: 'application/json'
          }
        }).then((res) => (res.json())
            .then((val) => this.set('data.likes', val))
        );
      }

      _getLikedClass(liked){
        if(liked) return 'liked';
      }

      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {
          
        });
      }

    }

    window.customElements.define(AppProductItem.is, AppProductItem);

  </script>
</dom-module>