<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<!-- App Components -->
<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../../app-store.html">
<!--
`<Name>` is Description

@element Name
-->
<dom-module id="app-dashboard">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block;
      }
      .dashboard-layout{
        @apply --layout-horizontal;
      }
      .dashboard-layout>*{
        padding: 16px;
      }
      .circle-inner{
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        height: 170px;
      background-color: #fafafa;
      width: 170px;
      border-radius: 50%;
      }
      .circle-inner span{
        font-size: 4.5rem;
      font-weight: 500;
      color: var(--app-accent-lighter);
      }
      .circle-outter{
        padding: 16px;
      border-radius: 50%;
      border: 1px solid #13c3b3;
      }
      .mb-2>*{
        margin-bottom: 1em;
      }
      .mb-2{
        margin-bottom: 1em;
      }
      .small-title{
        font-weight: 500;
      font-size: .86rem;
      color: #5f5f5f;
      }
      .dashboard-layout .banner{
        height: 30vh;
        margin-bottom: 1em;
        background-color: #16C7C3 ;
        padding: 16px;
        color: white;
      }
      .dashboard-layout .banner .banner-heading{
        max-width: 20rem;
      }
      .dashboard-layout .banner .title{
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 3.2rem;
      color: inherit;
      margin-bottom: 0;
      }
      .dashboard-layout .banner .summary-text{
       color: inherit;
      line-height: 1.8rem;
      font-weight: 100;
      font-size: 1.5rem;
      margin: 0;
      }
      .title-icon{
        color: var(--app-accent-color);
        margin-right: 8px;
        --iron-icon-width: 20px;
        --iron-icon-height: 20px;
      }
      .summary-data{
        padding: 0;
      }
      .summary-data>*{
        min-height: 100px;
        padding: 16px;
        color:white;
      }
      .summary-data>*:not(:last-child){
        margin: 0 16px 0 0;
      }
      .summary-title{
        font-weight: 500;
        display: block;
        font-size: 1rem;
      }
    </style>

    <div class="dashboard-layout">
      <main class="flex-2">
        <section class="banner">
          <div class="banner-heading">
            <h1 class="title">Howdy, [[user.nickname]].</h1>
            <p class="summary-text">Here's a summary of your store.</p>
          </div>
        </section>
        <section class="cards">
          <div class="layout horizontal summary-data">
            <div class="card flex" style="background-color: #E91E63;">
              <span class="summary-title">My Total Earnings:</span>
              <span>$00.00</span>
            </div>
            <div class="card flex" style="background-color: #03A9F4;">
              <span class="summary-title">Amount withdrawn</span>
              <span>$0.00</span>
            </div>
            <div class="card flex" style="background-color: #673AB7;">
              <span class="summary-title">Balance</span>
              <span>$[[user.balance]]</span>
            </div>
          </div>
          <!-- Todays Visitors -->
          <div class="card mb-2">
            <div class="layout horizontal">
              <iron-icon icon="my-icons:monitor" class="title-icon"></iron-icon>
              <span class="small-title">Today's Visitos</span>
            </div>
            
            <div class="layout vertical center-center">
            <div class="circle-outter">
              <div class="circle-inner layout horizontal center-center">
                <span>0</span>
              </div>
            </div>
            </div>
          </div>
          <!-- Sales Chart -->
          <!--<div class="card sales-chart">-->
            <!--<div class="layout horizontal card-header">-->
                <!--<iron-icon icon="my-icons:monitor" class="title-icon"></iron-icon>-->
                <!--<span class="small-title">Sales</span>-->
            <!--</div>-->
            <!--<div id="chartSales" class="charts"></div>     -->
          <!--</div>-->
          <!--<div class="card">-->
            <!--<div class="layout horizontal card-header">-->
              <!--<iron-icon icon="my-icons:monitor" class="title-icon"></iron-icon>-->
              <!--<span class="small-title">Engagement</span>-->
            <!--</div>-->
            <!--<div id="chartEng" class="charts"></div>-->
          <!--</div>-->
        </section>
      </main>
    </div>
  </template>

  <script>
    class AppDashboard extends ReduxMixin(Polymer.Element) {

      static get is() { return 'app-dashboard'; }

      static get properties() {
        return {
            user: {
                type:Object,
                statePath: 'user'
            }
        };
      }

      constructor() {
        super();
      }

      ready() {
        super.ready();
        
        Polymer.RenderStatus.afterNextRender(this, function() {
          
        });
      }

    }

    window.customElements.define(AppDashboard.is, AppDashboard);
  </script>
</dom-module>