<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../components/app-goodies-editor/app-goodies-editor.html">
<link rel="import" href="../../src/app-overview.html">

<!-- App Components -->
<link rel="import" href="../../shared-styles.html">
<!--
`<Name>` is Description

@element Name
-->
<dom-module id="app-me-store">
  <template>
    <style  include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block
      }
      .item-details{
        padding: 16px;
        @apply --layout-horizontal;
      }
      .item-details>*{
        padding: 16px;
        justify-content: center;
      }
      .mb-20{
        margin-bottom: 20px;
      }
      .start-center{
        justify-content: center;
      }

       paper-button.custom {
        max-height: 30px;
      --paper-button-ink-color: var(--paper-primary-color);
      /* These could also be individually defined for each of the
        specific css classes, but we'll just do it once as an example */
      --paper-button-flat-keyboard-focus: {
      background-color: var(--paper-primary-color);
      color: white !important;
    };
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-primary-color) !important;
      color: white !important;
    };
  }
    paper-button.custom:hover {
    background-color: var(--app-primary-color);
    }
    paper-button.grey {
      background-color: var(--paper-grey-500);
      color: white;
    }

    paper-button.green {
      background-color: var(--paper-green-500);
      margin-bottom: 85px;
      color: white;
    }
     paper-button.red {
      background-color: var(--paper-red-500);
      margin-bottom: 85px;
      color: white;
    }
    paper-button.disabled {
      color: white;
    }
    </style>

    <style is="custom-style">
 
</style>

    <app-goodies-editor id="goodiesEditor"></app-goodies-editor>

    <div class="cards">      
      <section class="layout horizontal">
        <span class="flex"></span>
        <a><paper-button raised class="rounded-btn action-btn" on-tap="_create"><iron-icon icon="my-icons:upload" style="margin-right: 26px;"></iron-icon>Upload</paper-button></a>
      </section>
      <!-- Panel -->
      <section class="card with--panel">
        <section class="layout horizontal around-justified layout">
          <div class="flex-3">
            <panel>
              <span class="panel-title">Item Name</span>
            </panel>
          </div>
          <div class="flex">
            <panel>
              <span class="panel-title">Item Price</span>
            </panel>
          </div>
          <div class="flex vertical center start-center">
            <panel>
              <span class="panel-title">Status</span>
            </panel>
          </div>
          <div class="flex">
            <panel>
              <span class="panel-title">Downloads</span>
            </panel>
          </div>
          <div class="flex">
            <panel>
              <span class="panel-title">Actions</span>
            </panel>
          </div>
        </section>

        <!-- Goodies List -->
        <template is="dom-repeat" items="[[items]]">
          <section class="layout horizontal around-justified layout">
            <div class="flex-3">
              <!-- Items Names -->
              <div class="item-details">
                <a href="#" class="flex">
                <iron-image preload style="background-color: #eee;width: 100%;height: 100%;min-height: 70px;" 
                            fade sizing="cover" 
                            src="http://lorempixel.com/400/700/abstract/[[index]]"></iron-image>
                </a>
                <div class="flex-3 layout vertical">
                  <a href="#" class="strong-text"><span>Photographer business cards</span></a>
                  <span class="light-text">Created: 4 March, 2017</span>
                </div>
              </div>
            </div>
            <!-- Price -->
            <div class="flex layout vertical center start-center">
                <span class="strong-text mb-20">$100</span>
            </div>
             <!-- Status -->
            <div class="flex layout vertical start-center">
                <span class="strong-text mb-20">Pending</span>
            </div>
            <!-- Downloads -->
            <div class="flex layout vertical center start-center">
              <span class="light-text mb-20">30</span>
            </div>
            <!-- Actions -->
            <div class="flex layout vertical center center-justified">
              <paper-checkbox style="margin-bottom:12px;" >Delete</paper-checkbox>
              <paper-button toggles raised class="custom grey">Edit</paper-button>
            </div>
          </section>
        </template>
      </section>
    </div>
  </section>
  <div class="flex layout horizontal end-justified">
    <paper-button toggles raised class="red">Delete all</paper-button>
    <paper-button toggles raised class="green">Delete selected</paper-button>
  </div>
  </template>

  <script>
    class AppMeStore extends Polymer.GestureEventListeners(Polymer.Element) {

      static get is() { return 'app-me-store'; }

      static get properties() {return {
          items:{
            type: Array,
            value: function(){
              return [{},{},{},{}]
            }
          }
        }}

      constructor() {
        super();
      }

      ready() {
        super.ready();
        Polymer.RenderStatus.afterNextRender(this, function() {
          Polymer.importHref(this.resolveUrl('../app-goodies-editor/app-goodies-editor.html'), null, null, true);
        });
      }


      /**
       *
       */
       _create(){
          this.$.goodiesEditor.open({});
       }
    }

    window.customElements.define(AppMeStore.is, AppMeStore);
  </script>
</dom-module>