<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">

<!-- App Components -->
<link rel="import" href="../../components/create-withdrawal/create-withdrawal.html">
<link rel="import" href="../../shared-styles.html">

<!--
`<Name>` is Description

@element Name
-->
<dom-module id="app-me-withdrawals">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block
      }
      .earnings>div>*{
        padding:16px;
        display: block;
      }
    </style>

    <create-withdrawal id="withdraw"></create-withdrawal>

	 <div class="cards">

     	  <section class="layout horizontal center-center">
     	  	<!-- Date Picker -->
     	  	<vaadin-date-picker label="View From"></vaadin-date-picker>
     	  	<span class="flex"></span>
     	  	<a><paper-button raised class="rounded-btn action-btn" on-tap="_make">Withdraw</paper-button></a>
     	  </section>
	      <!-- All Earnings -->
	      <section class="card with--panel">
	        <section class="layout horizontal">
	          <div class="flex">
	            <panel>
	              <span class="panel-title">Date:</span>
	            </panel>
	          </div>
	          <div class="flex-2">
	            <panel>
	              <span class="panel-title">Reference Code:</span>
	            </panel>
	          </div>
	          <div class="flex">
	            <panel>
	              <span class="panel-title">Withdrawn to::</span>
	            </panel>
	          </div>
	          <div class="flex">
	            <panel>
	              <span class="panel-title">Amount:</span>
	            </panel>
	          </div>
	          <div class="flex">
	            <panel>
	              <span class="panel-title">Status:</span>
	            </panel>
	          </div>
	        </section>

	        <!-- Earnings List -->
	        <template is="dom-repeat" items="[[items]]">
	          <section class="layout horizontal earnings">
	            <div class="flex"><span class="light-text">April 2, 2017</span></div>
	            <div class="flex-2"><span class="strong-text">PP1710234456</span></div>
	            <div class="flex layout vertical start-center"><span class="light-text">billing123@paypal.com</span></div>
	            <div class="flex layout vertical start-center"><span class="strong-text">$120.20</span></div>
	            <div class="flex layout vertical start-center"><span class="light-text">Pending</span></div>
	          </section>
	        </template>
	   	</section>
   	</div>
  </template>

  <script>
    class AppMeWithdrawals extends Polymer.Element {

      static get is() { return 'app-me-withdrawals'; }

       static get properties() {
        return {
          items:{
          	value: [{},{},{},{}]
          }
        };
      }

      constructor() {
        super();
      }

      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {
          
        });
      }

      _make(){
      	console.log('make a new withdrawal');
      	this.$.withdraw.opened = true;
      }

    }

    window.customElements.define(AppMeWithdrawals.is, AppMeWithdrawals);
  </script>
</dom-module>