<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/vaadin-upload/vaadin-upload.html">
<link rel="import" href="../../../bower_components/iron-autogrow-textarea/iron-autogrow-textarea.html">

<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../chartist-element/chartist-element.html">
<!--
`<Name>` is Description

@element Name
-->
<dom-module id="app-me-upload">
  <template>
    <style include="shared-styles iron-flex iron-flex-alignment">
      :host {
        display: block
      }
    #dialog {
        display: block;
        padding: 0 8px;
        border-top: 3px solid var(--app-accent-lighter);
        margin: 0;
        width: 60vw;
        min-height: 60vh;
        max-height: 100vh;
      }
      .inputs{
	    max-width: 42em;
	    margin: 2em auto;
	    background: white;
	    padding: 24px;
      }
      .inputs>*{
      	margin-bottom: 24px;
      }
      iron-autogrow-textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border: 0;
        margin: 1em 0 0;
        padding: 0;
        font-size: 1em;
        }
       paper-input{
        --paper-input-container-focus-color: var(--app-accent-color);
    	}
    	 paper-dropdown-menu {
	  	--paper-dropdown-menu-input:{
        		--paper-input-container-focus-color: var(--app-accent-color);
	  	}
	    display: block;
	  }

    paper-button.custom {
        max-height: 30px;
        margin-bottom: 50px;
      --paper-button-ink-color: var(--paper-primary-color);
      /* These could also be individually defined for each of the
        specific css classes, but we'll just do it once as an example */
      --paper-button-flat-keyboard-focus: {
      background-color: var(--paper-primary-color);
      color: white !important;
    };
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-primary-color) !important;
      color: white !important;
    };
  }
    paper-button.custom:hover {
    background-color: var(--app-primary-color);
    }
    paper-button.grey {
      background-color: var(--paper-grey-500);
      color: white;
    }

    paper-button.blue {
      background-color: var(--app-accent-lighter);
      color: white;
    }
     paper-button.red {
      background-color: var(--app-accent-color);
      color: white;
    }
    paper-button.disabled {
      color: white;
    }

    </style>

    
    	<section class="inputs">
      <!-- <section class="card"> -->
        <h1>Upload an item</h1><br>
      <!-- </section> -->
    		<vaadin-upload id="upload" accept="image/*" max-files="1" on-upload-before="_handleUpload" required>
<!--             <div class="file-list">
              <div class="receipt-wrapper">
                <img src$="[[_receiptURL]]" alt="Receipt" hidden$="[[!_showReceipt(expense._attachments.*)]]">
              </div>
            </div> -->
          </vaadin-upload>
    		<paper-input label="Item name:" name="name" id="name"></paper-input>
	      	<!-- Category -->
	      	<paper-dropdown-menu label="Select a category:">
			  <paper-listbox slot="dropdown-content" selected="1">
			    <paper-item>Print templates</paper-item>
			    <paper-item>Graphics</paper-item>
          <paper-item>Web &amp; Apps</paper-item>
			    <paper-item>Branding</paper-item>
          <paper-item>Plug-ins</paper-item>
          <paper-item>Fonts</paper-item>
          <paper-item>3D assets</paper-item>
			  </paper-listbox>
			</paper-dropdown-menu><br>
      <paper-checkbox>Allow users to download for free</paper-checkbox>
			<div class="layout horizontal justified">
				<paper-input label="Enter your price (USD):" name="name" id="name"></paper-input>
				<paper-input label="Enter discount (optional):" name="name" id="name"></paper-input>
			</div>
      <div class="layout horizontal justified">
        <paper-input label="You will earn (USD):" name="name" id="name"></paper-input>
        <p><a href="#">What are the chargeable fees?</a></p>
      </div>
      <div class="layout horizontal justified">
        <paper-input class="flex-3" label="disabled input" disabled value="Your PayPal account (verified)"></paper-input>
        <p><a href="#">Edit account</a></p>
      </div>

      <!-- Editor insert -->

      <div class="flex layout horizontal end-justified">     
        <paper-button toggles raised class="red">Publish</paper-button>
        <paper-button toggles raised class="grey">Preview</paper-button>   
        <paper-button toggles raised class="blue">Save</paper-button><br>        
      </div>
      <div class="flex layout horizontal end-justified">
        <p>By clicking Publish, you agree to our Creativeprenuer <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.</p>
      </div>

		</section>
  </template>

  <script>
    class AppMeUpload extends Polymer.Element {

      static get is() { return 'app-me-upload'; }

      static get properties() { return {
          
        }}

      constructor() {
        super();
      }

      ready() {
        super.ready();

        Polymer.RenderStatus.afterNextRender(this, function() {
          
        });
      }

    }

    window.customElements.define(AppMeUpload.is, AppMeUpload);
  </script>
</dom-module>